---
import Section from '@components/atoms/Section/Section.astro';
import SkillsTabGroup from '@components/molecules/SkillsTabGroup/SkillsTabGroup.tsx';
import { getPageData, getSkills } from '@database/request';

const { data } = await getPageData('skills');
const { data: skillsData } = await getSkills();
---

<Section
  id='skills'
  title={data?.title ?? 'TECHNOLOGY AND SKILLS'}
  subtitle={data?.text ??
    "I specialize in full-stack development with expertise in modern web technologies. Here's a breakdown of my technical skills and proficiency levels across different categories."}
  decoration='tech'
  stagger
>
  {skillsData && <SkillsTabGroup client:load skills={skillsData} />}
</Section>
