---
import Anchor from '@components/atoms/Anchor/Anchor.astro';
import './header.scss';
import { NAV_ELEMENTS } from './header.content'; 
---

<header class="header hidden">
    <!-- <div class="header__logo">
        <img src="logo.svg" />
    </div> -->
    <nav class="nav">
        {
            NAV_ELEMENTS.map((elem: { text: string, href: string }) => {
                return <Anchor className="nav__link" href={elem.href}>{elem.text}</Anchor>
            })
        }
    </nav>
</header>

<script>
    import { initHeader } from './header.ts';

    window.addEventListener('DOMContentLoaded', () => {
        initHeader();
    });
</script>