---
import './header.scss';
---

<header class="header">
    <nav class="header__nav">
        <a class="header__link">ABOUT</a>
        <a class="header__link">SKILLS</a>
        <a class="header__link">TIMELINE</a>
        <a class="header__link">PROJECTS</a>
        <a class="header__link">OTHER</a>
        <a class="header__link">CONTACT</a>
    </nav>
</header>