body {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;

  color: var(--color-text-main);
  background-color: var(--color-background);

  font-family: var(--font-body);
  text-shadow: 0 0 5px var(--color-accent);
}
