body {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  color: var(--color-text-main);
  background-color: var(--color-background);

  font-family: var(--font-body);
  text-shadow: 0 0 5px var(--color-accent);

  .layout {
    &__load-bg {
      position: absolute;
      height: 100vh;
      width: 100vw;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-background);

      z-index: 2000;

      animation: fade_out forwards 2s;
      animation-delay: 3s;
    }

    &__logo {
      height: 5rem;
      width: 5rem;
      animation: shrink forwards 1s;
      animation-delay: 2s;
    }
  }
}

.blocker {
  overflow-y: hidden;
}

.scroll {
  overflow-y: auto;
}

@keyframes fade_out {
  to {
    opacity: 0;
  }
}

@keyframes shrink {
  to {
    transform: scale(0);
  }
}
