---
import '@styles/main.scss';
import './layout.scss';
import Header from "../../modules/Header/header.astro";
import Footer from "../../modules/Footer/footer.astro";
const { title } = Astro.props;
---

<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <title>{title}</title>
    </head>
    <body>
        <Header />
            <slot />
        <Footer />
    </body>
</html> 