---
import Footer from '@components/modules/Footer/footer.astro';
import Header from '@components/modules/Header/header.astro';
import AnimatedBackground from '@components/molecules/AnimatedBackground/AnimatedBackground.tsx';
import MainLogo from '@public/logo_animated.svg';
import '@styles/main.scss';
import './layout.scss';
const { title } = Astro.props;
---

<html lang='en' data-theme='dark'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, viewport-fit=cover'
    />
    <title>{title}</title>
  </head>
  <body class='blocker'>
    <div class='layout__load-bg'>
      <MainLogo class='layout__logo' />
    </div>

    <AnimatedBackground client:load />
    <Header />
    <slot />
    <Footer />

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
          const blocker = document.querySelector('.blocker');
          if (blocker) {
            document.querySelector('.layout__load-bg')?.remove();
            blocker.classList.remove('blocker');
            blocker.classList.add('scroll');
          }
        }, 3000);
      });
    </script>
  </body>
</html>
