---
import Section from '@components/atoms/Section/Section.astro';
import TabGroup from '@components/molecules/TabGroup/TabGroup';
import { getPageData, getProjectsData } from '@database/request';

const { data } = await getPageData('projects');
const { data: projectsData } = await getProjectsData();

const projects = projectsData && projectsData.length > 0 ? projectsData : [];
---

<Section
  id='projects'
  title={data?.title ?? 'PROJECTS'}
  decoration='code'
  stagger
>
  <TabGroup client:load projects={projects} />
</Section>
