@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.7;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  opacity: 0.8;
  animation: blink 1.2s step-end infinite;
}

.flicker-animation {
  animation: flicker 2.5s infinite alternate;
}

.fade-out-animation {
  animation: fade-out 0.5s forwards;
}

.fade-in-animation {
  animation: fade-in 0.3s forwards;
}
