$base-bg: #0b0b0b;
$base-text: #e6e6e6;
$base-accent: #00ffaa;
$red-accent: #FF0000;
$pink-accent: #F527D3;


$colors: (
  light: (
    background: $base-bg,
    text-main: $base-text,
    accent: $base-accent,
  ),
  dark: (
    background: $base-bg,
    text-main: $base-text,
    accent: $base-accent,
    accent-darker: darken($base-accent, 40%)
  ),
  dark-red: (
    background: $base-bg,
    text-main: $base-text,
    accent: $red-accent,
    accent-darker: darken($red-accent, 40%)
  ),
  dark-pink: (
    background: $base-bg,
    text-main: $base-text,
    accent: $pink-accent,
    accent-darker: darken($pink-accent, 40%)
  ),
);