@use 'sass:color';

$base-bg: #0b0b0b;
$base-text: #e6e6e6;
$base-accent: #00ffaa;
$red-accent: #ff0000;
$pink-accent: #f527d3;

$colors: (
  light: (
    background: $base-bg,
    text-main: $base-text,
    accent: $base-accent,
  ),
  dark: (
    background: $base-bg,
    text-main: $base-text,
    accent: $base-accent,
    accent-darker: color.adjust($base-accent, $lightness: -40%),
  ),
  dark-red: (
    background: $base-bg,
    text-main: $base-text,
    accent: $red-accent,
    accent-darker: color.adjust($red-accent, $lightness: -40%),
  ),
  dark-pink: (
    background: $base-bg,
    text-main: $base-text,
    accent: $pink-accent,
    accent-darker: color.adjust($pink-accent, $lightness: -40%),
  ),
);
