$sizes: (
        'h6': 1rem,
        'h5': 2rem,
        'h4': 4rem,
        'h3': 6rem,
        'h2': 8rem,
        'h1': 10rem
);

@mixin title-size($size) {
  $font-size: map-get($sizes, $size);

  @if $font-size {
    font-size: $font-size;
  } @else {
    @warn "No title size defined for `#{$size}`.";
  }
}

.title-h1 {
  @include title-size(h1);
}

.title-h2 {
  @include title-size(h2);
}

.title-h3 {
  @include title-size(h3);
}

.title-h4 {
  @include title-size(h4);
}

.title-h5 {
  @include title-size(h5);
}

.title-h6 {
  @include title-size(h6);
}