#about {
    height: 90vh;

    text-shadow: none;

    .about-container {
        height: 100%;

        overflow: hidden;

    }

    .about-content {

        border: 2px solid var(--color-accent-darker);
        border-radius: 2rem;
        background: repeating-linear-gradient(
            rgba(255, 255, 255, 0.03) 0,
            rgba(0, 0, 0, 0) 10px
        );

        &__image {
            &-container {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            // flex-grow: 1;
            width: 10rem;
            margin: auto;
            border-radius: 1rem;
        }

        &__info {
            flex-grow: 1;

            display: grid;
            grid-template-columns: 1fr auto;
            row-gap: 0.8rem;
            column-gap: 2rem;

            margin-top: 1rem;
            padding: 1rem 0.5rem 0 0.5rem;

            opacity: 0.9;

            border-top: 2px solid var(--color-accent-darker);

            span {
                text-wrap: wrap;
            }

            &--key {
                color: var(--color-accent);
                opacity: 0.7;
            }

            &--text {
                text-align: end;
            }
        }

        &--left {
            grid-column: 1;
            grid-row: 1 / span 2;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--top {
            grid-column: 2;
            grid-row: 1;

            padding-top: 0;

            background: none;
            border: none;
        }

        &--bottom {
            grid-column: 2;
            grid-row: 2;
        }
    }
}