---
import './About.scss';
import IconDisplayGird from '@components/molecules/IconDisplayGrid/IconDisplayGird.astro';
import ContactDisplay from '@components/molecules/ContactsDisplay/ContactDisplay.astro';
---

<section id='about' class="container--main grid-main">
    <div>
        <h2 class="">
            INTRODUCTION
        </h2>
        <p class="">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div class="card card--background container__dictionary">
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">Name:</span><span class="container__dictionary__value">Domen Gorjup</span>    
        </div>
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">Age:</span> <span class="container__dictionary__value">29</span>   
        </div>
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">Experience:</span><span class="container__dictionary__value">2.5 years</span>
        </div>
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">City:</span><span class="container__dictionary__value">Ljubljana</span>
        </div>
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">Country:</span><span class="container__dictionary__value">Slovenia</span>
        </div>
        <div class="container__dictionary__item">
            <span class="container__dictionary__key">Languages:</span><span class="container__dictionary__value">Slovenian, English (B1)</span>                
        </div>
    </div>
    <ContactDisplay />
    <IconDisplayGird />
</section>