---
import './About.scss';
import IconDisplayGird from '@components/molecules/IconDisplayGrid/IconDisplayGird.astro';
import ContactDisplay from '@components/molecules/ContactsDisplay/ContactDisplay.astro';
import InfoDisplay from '@components/molecules/InfoDisplay/InfoDisplay.astro';
import IntroductionDisplay from '@components/molecules/IntroductionDisplay/IntroductionDisplay.astro';
---

<section id='about' class="container--main grid-main">
    <IntroductionDisplay />
    <InfoDisplay />
    <ContactDisplay />
    <IconDisplayGird />
</section>