---
import './About.scss';
import IconDisplayGird from '@components/molecules/IconDisplayGrid/IconDisplayGird.astro';
---

<section id='about' class="container">
    <div class="about-container">
        <div class="about-content about-content--left">
            <div class="about-content__image-container">
                <img src="cat.jpg" class="about-content__image">
            </div>
            <div class="about-content__info">
                <span class="about-content__info--key">Name:</span><span class="about-content__info--text">Domen Gorjup</span>
                <span class="about-content__info--key">Age:</span> <span class="about-content__info--text">29</span>   
                <span class="about-content__info--key">City:</span><span class="about-content__info--text">Ljubljana</span>
                <span class="about-content__info--key">Country:</span><span class="about-content__info--text">Slovenia</span>
                <span class="about-content__info--key">Languages:</span><span class="about-content__info--text">Slovenian, English (B1)</span>                
            </div>
        </div>
        <div class="about-content about-content--right about-content--top">
            <h2 class="about-content__title">
                CHARACTER BIO
            </h2>
            <p class="about-content__info">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
        <div class="about-content about-content--right about-content--bottom">
            <div>
                <!-- <h2 class="about-content__title">
                    TECH STACK
                </h2> -->
                <IconDisplayGird />
            </div>
        </div>
    </div>
</section>