---
import InfoDisplay from '@components/molecules/InfoDisplay/InfoDisplay.astro';
import './IntroductionDisplay.scss';

const { text } = Astro.props;
---

<div class='introduction'>
  <p class='introduction__text'>
    {text}
  </p>
  <InfoDisplay />
</div>
