@use '@layout/breakpoints' as br;

.introduction {
  @include br.min-width(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
  }

  &__text {
    padding: 1rem 2rem;
    text-align: center;
    line-height: 1.6;
    color: var(--color-text-secondary);

    @include br.min-width(lg) {
      grid-row: 1;
      grid-column: 2;
      text-align: left;
    }
  }
}
