---
import Section from '@components/atoms/Section/Section.astro';
import ContactDisplay from '@components/molecules/ContactsDisplay/ContactDisplay.astro';
---

<Section id='contact'>
  <ContactDisplay />
</Section>
