---
import { getPageData } from '@database/request';
import Icon from '../../atoms/Icon/Icon.astro';
import './ContactDisplay.scss';

const { data } = await getPageData('contact');
---

<div class='contact-content container--padded'>
  <h3 class='contact-content__title'>{data?.title ?? 'Get in touch'}</h3>
  <p class='contact-content__subtitle'>
    {
      data?.text ??
        "Have a project in mind or want to collaborate? I'd love to hear from you!"
    }
  </p>

  <div class='contact-content__social-section'>
    <div class='contact-content__container'>
      {
        data?.data.map(item => {
          return (
            <a
              href={item?.href}
              target='_blank'
              rel='noopener noreferrer'
              class='contact-content__link'
            >
              <Icon modifier={item?.icon} className='contact-content__icon' />
              <span>{item?.text}</span>
            </a>
          );
        })
      }
    </div>
  </div>
</div>
