---
import './ContactDisplay.scss';
import ReactIcon from '../../../../public/icons/contact/github.svg';
import ReactQueryIcon from '../../../../public/icons/contact/linkedin.svg';
import NextjsIcon from '../../../../public/icons/contact/email.svg';
---


<div class="contact-content">
    <h3 class="contact-content__title">Follow and connect</h3>
    <div class="contact-content__container">
        <ReactIcon class="contact-content__icon" />
        <ReactQueryIcon class="contact-content__icon" />
        <NextjsIcon class="contact-content__icon" />
    </div>
</div>