---
import './ContactDisplay.scss';
import ReactIcon from '../../../../public/icons/contact/github.svg';
import ReactQueryIcon from '../../../../public/icons/contact/linkedin.svg';
import NextjsIcon from '../../../../public/icons/tech/nextdotjs.svg';
---


<div class="tech-content">
    <div class="">
        <h3 class="tech-content__title">Contact</h3>
        <div class="tech-content__container">
            <ReactIcon class="tech-content__icon" />
            <ReactQueryIcon class="tech-content__icon" />
            <NextjsIcon class="tech-content__icon" />
        </div>
    </div>
</div>