@use '@layout/breakpoints' as br;

.tech-content {
    display: grid;
    grid-template-columns: auto;

    @include br.min-width(md) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__section-title {
        width: 100%;
        text-align: center; 
    }

    &__title {
        width: 100%;
        text-align: center;

        letter-spacing: 0.8rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        place-items: center;
        gap: 1rem;

        margin: 1rem 0;
        padding-top: 2rem;

        border-top: 1px solid var(--color-accent);
    }

    &__icon {
        height: 3rem;

        fill: var(--color-accent);
        fill-opacity: 0.7;
    }
}