---
import LaravelIcon from '@public/icons/tech/laravel.svg';
import MySqlIcon from '@public/icons/tech/mysql.svg';
import NestjsIcon from '@public/icons/tech/nestjs.svg';
import NextjsIcon from '@public/icons/tech/nextdotjs.svg';
import NodeJsIcon from '@public/icons/tech/nodedotjs.svg';
import ReactIcon from '@public/icons/tech/react.svg';
import ReactQueryIcon from '@public/icons/tech/reactquery.svg';
import SassIcon from '@public/icons/tech/sass.svg';
import SupabaseIcon from '@public/icons/tech/supabase.svg';
import TailwindIcon from '@public/icons/tech/tailwindcss.svg';
import TypescriptIcon from '@public/icons/tech/typescript.svg';
import './IconDisplayGird.scss';
---

<div class='tech-content'>
  <div class='card card--background'>
    <h3 class='tech-content__title'>Frontend</h3>
    <div class='tech-content__container'>
      <ReactIcon class='tech-content__icon' />
      <ReactQueryIcon class='tech-content__icon' />
      <NextjsIcon class='tech-content__icon' />
      <TypescriptIcon class='tech-content__icon' />
      <SassIcon class='tech-content__icon' />
      <TailwindIcon class='tech-content__icon' />
    </div>
  </div>

  <div class='card card--background'>
    <h3 class='tech-content__title'>Backend</h3>
    <div class='tech-content__container'>
      <NodeJsIcon class='tech-content__icon' />
      <LaravelIcon class='tech-content__icon' />
      <NestjsIcon class='tech-content__icon' />
      <MySqlIcon class='tech-content__icon' />
      <SupabaseIcon class='tech-content__icon' />
    </div>
  </div>
</div>
