---
import './Home.scss';
import Anchor from '@components/atoms/Anchor/Anchor.astro';
---

<section id="home" class="container">
    <div class="hero">
        <div class="hero__content">
            <h1 class="hero__title text--h1 flicker-animation">
                DOMEN GORJUP
            </h1>
            <h2 class="hero__subtitle text--h3 flicker-animation">
                Frontend Developer / Aspiring Fullstack Engineer
            </h2>
            <Anchor href="#about" className="hero__cta text--general blink-animation selected">
                Click anywhere to start
            </Anchor>
        </div>
        <span class="hero__border" />
    </div>
</section>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const hero = document.getElementById('home');
        hero?.addEventListener('click', () => {
            console.log('clicky');
            window.location.href = '#about';
        });
    })
</script>