#home {
  height: 100vh;

  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.03) 0px,
    rgba(0, 0, 0, 0.03) 2px
  );
  box-shadow: 0 0 3rem 0 var(--color-accent-darker);

  .hero {
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    &__content {
      text-align: center;
    }

    &__title {
      margin-left: 10px;

      color: var(--color-accent);

      font-size: 1rem;
      font-family: var(--font-header);
      font-weight: 700;
      letter-spacing: 0.8rem;
    }

    &__subtitle {
      text-align: center;

      color: var(--color-text);
    }

    &__cta {
      margin-top: 7rem;

      color: var(--color-text);
    }
  }
}
