*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Reset anchors */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset images and media */
img,
video,
picture {
  max-width: 100%;
  display: block;
}

/* Remove form element inconsistencies */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

/* Basic body setup */
body {
  line-height: 1.5;
}

/* Reset headings if needed */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  cursor: pointer;
}
